li {
    list-style-type: none;
}
.tabs{
    display: flex;
}

.tab{
    
    margin-right: 20%;
    background-color: none;
    outline: none;
    padding: 0.5rem;
    min-width: 100px;
    
}


h2{
    color: rgb(255, 255, 255);
}